.login-page, .register-page{
    background-image: url('../images/fondo-auth.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-logo a{
    color: #fff;
}

#empty-table{
    text-align: center;
    font-size: 18px;
}

.my-btns{
    border-radius: 45%;
    margin-right: 3px;
    height: 38px;
    width: 42px;
}

.download-btn{
    background: #b763da;
    border: none;
}

.edit-btn{
    background: #34b0c3;
    border: none;
}

.show-btn{
    background: #25bd48;
    border: none;
}

.delete-btn{
    background: #f53345;
    border: none;
}