.login-page, .register-page{
    background-image: url('../images/fondo-auth.svg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-logo a{
    color: rgb(4, 6, 2);
}
.auth-btn-submit:hover{
    background: #5058c5;
    color: white;
}
#empty-table{
    text-align: center;
    font-size: 18px;
}
.my-btns{
    border-radius: 45%;
    margin-right: 3px;
    height: 38px;
    width: 42px;
}
.download-btn{
    background: #25bd48;
    border: none;
}
.download-btn:focus{
    background-color: #25bd48;
}
.edit-btn{
    background: #b763da;
    border: none;
}
.edit-btn:focus{
    background-color: #b763da;
}
.show-btn{
    background: #34b0c3;
    border: none;
}
.show-btn:focus{
    background-color: #34b0c3;
}
.delete-btn{
    background: #f53345;
    border: none;
}
.delete-btn:focus{
    background-color: #f53345;
}
[class*=sidebar-dark] .brand-link{
    border-bottom: 1px solid #6a95bb;
}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu{
    color: #fff;
}
[class*=sidebar-dark-] .sidebar a{
    color: #fff;
}
.main-sidebar{
    background: #4061c1;
    position: fixed !important;
}
.nav {
    font-size: 17px;
}
.sidebar-dark-info .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #3cadbfa3;
}
.login-btn{
    border-radius: 20px;
    padding: 7px 17px;
    background: linear-gradient(315deg, #2a298a, #538ee6, #c5cad8);
    /* background: linear-gradient(315deg, #5e458e, #A46DFF, #d8cbda); */
}
.login-btn:hover{
    background: linear-gradient(315deg, #3d3cb7, #79a3e2, #d4d4d4);
    /* background: linear-gradient(315deg, #7046bf, #c0a8e6, #e2cae6); */
}
.card{
    margin: 0;
}
.category-filter-create-btn{
    position: relative;
}
.category-filter{
    width: 65%;
}
.create-btn-files{
    position: absolute;
    right: 0;
    bottom: 1px;
    background-color: #14bf68;
    border: none;
}
.create-btn-files:hover{
    background-color: #1b8b51;
}
.create-btn{
    margin-bottom: 15px;
    background-color: #14bf68;
    border: none;
}
.create-btn:hover{
    background-color: #1b8b51;
}
.my-thead{
    background: #4061c1;
    color: white;
}
.my-thead th{
    padding-top: 7px;
    padding-bottom: 7px;
}
table{
    margin-top: 9px !important;
}
.nav-item{
    margin-bottom: 14px;
}
.nav-link{
    font-size: 17px;
}
.nav-header{
    font-size: 17px !important;
}
.main-footer{
    padding: 0;
}
.main-footer div{
    background-color: #f9f7f7;
}
#toast-container .toast-message{
    font-size: 17px;
}

