.login-page, .register-page{
    background-image: url('../images/fondo-auth.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
